{
    "CFBundleName": "beeMon",
    "CFBundleDisplayName": "beeMon",
    "CFBundleIdentifier": "com.beemon.app",
    "CFBundleVersion": "1.0.1",
    "CFBundleShortVersionString": "1.0.1",
    "CFBundlePackageType": "APPL",
    "LSUIElement": true,
    "NSHighResolutionCapable": true,
    "LSMinimumSystemVersion": "13.0"
}
